:root {
  --is-screen-wide: 1;

  /* courses variables */
  --courses-per-row: 3;
  --course-container-width: clamp(12rem, 27.5vw, 17.5rem);

  --course-card-col: white;
  --course-card-radius: .25rem;

  --course-card-title-col: black;
  --course-card-description-col: black;
  --course-card-last-info-col: black;

  --course-card-title-size: clamp(1rem, 2.5vw, 1.2rem);
  --course-card-description-size: clamp(0.85rem, 1.8vw, 1rem);
  --course-card-last-info-size: clamp(0.75rem, 2vw, 1rem);

  /* upcoming-events variables */
  --upcoming-events-per-row: 3;
  --upcoming-event-container-width: clamp(12rem, 27.5vw, 17.5rem);

  --upcoming-event-card-col: white;
  --upcoming-event-card-radius: .25rem;

  --upcoming-event-card-title-col: black;
  --upcoming-event-card-description-col: black;
  --upcoming-event-card-last-info-col: black;

  --upcoming-event-card-title-size: clamp(1rem, 2.5vw, 1.2rem);
  --upcoming-event-card-description-size: clamp(0.85rem, 1.8vw, 1rem);
  --upcoming-event-card-last-info-size: clamp(0.7rem, 1.5vw, 1rem);
}

@media (max-width: 40em) {
  :root {
    --is-screen-wide: 0;

    /* courses */
    --courses-per-row: 1;
    --course-container-width: clamp(15rem, 16rem, 17.5rem);

    --course-card-title-size: 1.1rem;
    --course-card-description-size: 0.85rem;
    --course-card-last-info-size: 0.95rem;

    /* upcoming-events */
    --upcoming-events-per-row: 1;
    --upcoming-event-container-width: clamp(15rem, 16rem, 17.5rem);

    --upcoming-event-card-title-size: 1.1rem;
    --upcoming-event-card-description-size: 0.85rem;
    --upcoming-event-card-last-info-size: 0.95rem;
  }
}

/* Courses */
.course-container {
  display: grid;
  grid-template-columns: repeat(var(--courses-per-row), var(--course-container-width));
  gap: 1rem;
  justify-content: center;
}

.course-card {
  background-color: var(--course-card-col);
  border-radius: var(--course-card-radius);
  padding: .35rem;

  display: flex;
  flex-direction: column;
  position: relative;
}

.course-image-container {
  width: 100%;
  /* border-radius: var(--course-card-radius); */
}

.course-image {
  width: 100%;
  /* height: 100%; */
}

.course-title {
  color: var(--course-card-title-col);
  font-size: var(--course-card-title-size);
  font-weight: 600;
  word-wrap: break-word;
}
.course-description {
  color: var(--course-card-description-col);
  font-size: var(--course-card-description-size);
  font-weight: 400;
  /* height: 10vw; */
  word-wrap: break-word;
  height: fit-content;
}

.course-last-info-container {
  position: absolute;
  bottom: 0;
}
.course-last-info {
  color: var(--course-card-last-info-col);
  font-size: var(--course-card-last-info-size);
  font-weight: 600;
}

/* Upcoming  */
.upcoming-event-container {
  display: grid;
  grid-template-columns: repeat(var(--upcoming-events-per-row), var(--upcoming-event-container-width));
  gap: 1rem;
  justify-content: center;
}

.upcoming-event-card {
  background-color: var(--upcoming-event-card-col);
  border-radius: var(--upcoming-event-card-radius);
  padding: .35rem;

  display: flex;
  flex-direction: column;
  position: relative;
}

.upcoming-event-image-container {
  width: 100%;
  /* border-radius: var(--upcoming-event-card-radius); */
}

.upcoming-event-image {
  width: 100%;
  /* height: 100%; */
}

.upcoming-event-title {
  color: var(--upcoming-event-card-title-col);
  font-size: var(--upcoming-event-card-title-size);
  font-weight: 600;
  word-wrap: break-word;
}
.upcoming-event-description {
  color: var(--upcoming-event-card-description-col);
  font-size: var(--upcoming-event-card-description-size);
  font-weight: 400;
  /* height: 10vw; */
  word-wrap: break-word;
  height: fit-content;
}

.upcoming-event-last-info-container {
  position: absolute;
  bottom: 0;
}
.upcoming-event-last-info {
  color: var(--upcoming-event-card-last-info-col);
  font-size: var(--upcoming-event-card-last-info-size);
  /* font-weight: 600; */
}
